* {
	padding: 0px;
	margin: 0px;
}
#first-section {
	background-image: url("images/top-banner.png");
	background-repeat: no-repeat;
}
h1 {
	font-family: "Arima", cursive;
	font-size: 50px;
}
h2 {
	font-family: "Arima", cursive;
	font-family: "Josefin Sans", sans-serif;
}
span {
	color: orange;
}
p {
	color: rgb(66, 65, 65);
}
.flexible {
	display: flex;
}
.width-half {
	width: 50%;
	padding-left: 3%;
}
img {
	width: 75%;
}
a {
	text-decoration: none;
	color: whitesmoke;
	background-color: orangered;
	padding: 10px 40px;
	border-radius: 5px;
}
#secend-section {
	background-image: url("images/dream-bg.png");
	background-repeat: no-repeat;
	margin-top: 5%;
}
footer {
	text-align: center;
}
.Experiences h2 {
	color: rgb(255, 149, 0);
}
