* {
	padding: 0px;
	margin: 0px;
}
#first-section {
	background-image: url("images/top-banner.png");
	background-repeat: no-repeat;
}
h1 {
	font-family: "Arima", cursive;
	font-size: 50px;
}
h2 {
	font-family: "Arima", cursive;
	font-family: "Josefin Sans", sans-serif;
}
span {
	color: orange;
}
p {
	color: rgb(66, 65, 65);
}
.flexible {
	display: flex;
}
.width-half {
	width: 50%;
	padding-left: 3%;
}
img {
	width: 75%;
}
a {
	text-decoration: none;
	color: whitesmoke;
	background-color: orangered;
	padding: 10px 40px;
	border-radius: 5px;
}
#secend-section {
	background-image: url("images/dream-bg.png");
	background-repeat: no-repeat;
	margin-top: 5%;
}
footer {
	text-align: center;
}
#experience h2 {
	color: rgb(255, 149, 0);
}
.container {
	background-image: url("images/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}
#experience {
	background-image: url("images/exp-bg.png");
	background-repeat: no-repeat;
	background-position-y: 50%;
}
.blog {
	border-radius: 4px;
	margin: 30px;
	padding: 80px;
	box-shadow: 10px 10px 30px 5px rgb(38, 37, 37);
}
.red {
	border-left: 15px solid red;
}
.blue {
	border-left: 15px solid blue;
}
